<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/global.css" rel="stylesheet">
    <title>Admin - Agencia DevHouse</title>
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>218367821-12386237816</td>
                    <td>Site incrível</td>
                    <td>
                        <button>Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <%- include('../components/footer') %>
</body>
</html>