<header>
    <section class="container">      
        <img src="/img-home/logo.png" alt="Agencia - devHouse" title="Agencia-DevHouse">      
        <div class="div-container">                
            <a href="Home"> Home </a>
            <a href="Produtos"> Produtos </a>
            <a href="Depoimentos"> Depoimentos </a>
            <a href="Blog"> Blog </a>
            <a href="Contato"> Contato </a>
        </div>
        <div class="div-container">                          
            <a href=""> +00 123 456 789 </a>
            <button class="button-padrao"> Contact Us </button>
        </div>        
        <div id="menu-mobile">
            <button><img src="/img-home/menu-icon.png"  alt="menu-icon">
            </button>
        </div>
    </section>        
</header>