<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>DH News</title>
</head>

<body>

    <main>

        <h1>DH News</h1>

    <h6>postado em 02/03/2021</h6>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Animi vero sint commodi</strong> nulla soluta, quia autem, explicabo quo rerum at delectus ab non ea molestias architecto! Nostrum eaque fugit numquam.
    </p>

    <a><img id="destak" src="/img/destaque.webp" align="middle"></a>

    <h3>Pariatur architecto doloremque debitis distinctio</h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam esse ea tempore sint nulla modi repudiandae vel doloremque reprehenderit animi dolorem, ab totam rem vero commodi illo? Quod, alias praesentium.
    </p>

    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ol>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, officia voluptate assumenda deserunt quia quas quidem aperiam cumque ad explicabo molestias quos minima ratione eius deleniti enim ipsam impedit ex.
    </p>

    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. <strong>Pariatur, totam ipsum</strong> sequi quod saepe quas placeat velit nobis corrupti at enim tenetur quisquam aliquid maiores id soluta voluptates nihil corporis!
    </p>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, sapiente neque minus ut quod sit! Illum dolores perspiciatis dicta harum sunt, fugit, suscipit voluptate repudiandae nihil quasi consequatur cupiditate similique.
    </p>
    
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam blanditiis a vero, quas laborum asperiores placeat temporibus esse ea impedit accusantium voluptate omnis praesentium molestias velit minima vitae est eveniet.
    </p>

    </main>

</body>

<footer>    

</footer>
</html>