<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title> Home </title>
</head>
<body>
    <header>
        <section class="container">      
            <img src="/img-home/logo.png" alt="Agencia - devHouse">      
            <div class="div-container">                
                <a href="Home"> Home </a>
                <a href="Produtos"> Produtos </a>
                <a href="Depoimentos"> Depoimentos </a>
                <a href="Blog"> Blog </a>
                <a href="Contato"> Contato </a>
            </div>
            <div class="div-container">                          
                <a href=""> +00 123 456 789 </a>
                <button class="button-padrao"> Contact Us </button>
            </div>        
            <div id="menu-mobile">
                <button><img src="/img-home/menu-icon.png"  alt="menu-icon">
                </button>
            </div>
        </section>        
    </header>
        <main>
            <nav class="nav-banner">
                <h1> Good design meets <br>great user experience </h1>
                <h3>For everyone, from beginners to experts</h3>
                <div class="button-banner">
                    <button class="button-padrao"> Buy Digits </button>
                    <button class="button-padrao"> See the features </button>
                </div>
                <img src="/img-home/banner.png" alt="banner">
            </nav>
        </main>
        <section>
            <p class="p-1"> Trusted by forward-thinking software teams around the world </p>
            <div class="img-middle">
                <img src="/img-home/drawkit.png" class="img-mid" alt="drawkit">
                <img src="/img-home/cinemax.png" class="img-mid" alt="cinemax">
                <img src="/img-home/disney.png" class="img-mid" alt="disney">
            </div class="banner2">            
            <img src="/img-home/img-turquesa.png" id="turquesa" alt="quadrado">            
            <div>
                <h2> Whatever work you do, <br>we're able to help </h2>
                          
                    <div class="banner2">
                    <img src="/img-home/banner-2.png" alt="banner-2">  
                    <div class="text-banner2">
                        <div class="div-text-banner2">
                        <h3> Design and Assets </h3>
                        <p> Make your brand stand out with <br>pixel-perfect design crafted to <br> perfection. </p>
                    </div>
                    <div class="div-text-banner2">
                        <h3> Easy Content </h3>
                        <p> Import your demos or build pages <br> visually. Bonus: All images and<br> illustrations included! </p>
                    </div>
                    <div class="div-text-banner2">
                        <h3> Fast and Reliable </h3>
                        <p> No heavy-weight plugins. No <br>builders. No unneccesary file loading.<br> Pure WordPress. </p>
                    </div>
                    </div>
                    </div>
            </div>
        </section>
        <section>
            <h2> What others are saying </h2>
            <div class="user">
                <div class="div-user">
                    <p>
                        Completely beautiful website and <br>amazing support! This is my <br>second website from this author <br>and I love both of the sites so much <br>and she has helped me so well <br>when I needed it!                     
                    </p>                    
                    <div class="div-user-avatar">   
                        <img src="/img-home/user-1.png" alt="user-1">
                        <h3 class="text-center"> Happy User </h3>
                        <p class="text-center"> tempy.club </p>
                    </div>
                </div>
                <div class="div-user">
                    <p> 
                        Really easy to use and customize. easy to understand. Darinka helped me with my site! She answers very quickly, a good service! Thank you very much!
                    </p>                    
                    <div class="div-user-avatar">
                        <img src="/img-home/user-2.png" alt="user-2">
                        <h3 class="text-center"> Happy User </h3>
                        <p class="text-center"> tempy.club </p>
                    </div>
                </div>
                <div class="div-user">
                    <p>
                        Really pleasing to look at! Documentation (including installation instructions) are clear and that is coming from a relatively new WordPress user.
                    </p>                    
                    <div class="div-user-avatar">
                        <img src="/img-home/user-3.png" alt="user-3">
                        <h3 class="text-center"> Happy User </h3>
                        <p class="text-center"> tempy.club </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-1">
            <h2> Ready to launch<br> your next website? </h2>
            <div class="div-button-fotter">
            <button class="button-white">
                <img class="img-button" src="/img-home/img-button.png" alt=""> 
                Get in touch now
            </button>
            <small class="small-footer"> Or, take a peek inside our design studio </small>
            </div>
        </section>
        <footer>
                <div>
                    <img class="logo-footer" src="/img-home/logo.png" alt="Agencia - devHouse">
                    <p>
                        Digits is a website template built to<br> work seamlesly with the WordPress <br>block editor to create beautifully<br> designed pages in minutes.
                    </p>
                </div>
                <div class="div-footer">
                    <h4> Resources </h4>
                    <div class="div-link">
                        <a href="">
                            <img class="link-footer" src="/img/facebook.svg" alt="">
                        </a>
                        <a href="">
                            <img class="link-footer" src="/img/instagram.svg" alt="">
                        </a>
                    </div>
                    <a href="">Download now</a>
                    <a href="">Documentation</a>
                </div>
        </footer>
        <div class="last-div">
            <p>
                Copyright © 2020 tempy.club
            </p>
            <p>
                Privacy Policy         Terms of Use         GDPR
            </p>
        </div>
</body>
</html>
