<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Home</title>
</head>
<body>
    <header>
        <section class="container">            
            <div class="div-container">
                <img src="/img-home/logo.png" alt="Agencia - devHouse">
                <a href="Home"> Home </a>
                <a href="Produtos"> Produtos </a>
                <a href="Depoimentos"> Depoimentos </a>
                <a href="Blog"> Blog </a>
            </div>
            <div class="div-container">                          
                <p> +00 123 456 789 </p>
                <button class="button-padrao"> Contact Us </button>
            </div>        
        </section>        
    </header>
        <main>
            <nav class="nav-banner">
                <h1> Good design meets <br>great user experience </h1>
                <h3>For everyone, from beginners to experts</h3>
                <div class="button-banner">
                    <button class="button-padrao"> Buy Digits </button>
                    <button class="button-padrao"> See the features </button>
                </div>
                <img src="/img-home/banner.png" alt="banner">
            </nav>
        </main>
</body>
</html>
