<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Home</title>
</head>
<body>
    <header>
        <div class="container">            
            <ul>
                <li><img src="/img-home/logo.png" alt="Agencia - devHouse"></li>
                <li><a href="Home"> Home </a></li>
                <li><a href="Produtos"> Produtos </a></li>
                <li><a href="Depoimentos"> Depoimentos </a></li>
                <li><a href="Blog"> Blog </a></li>
            </ul>
            <ul>                
                <li>+00 123 456 789</li>
                <li><button class="button-contact"> Contact Us </button></li>
            </ul>
        </div>        
    </header>
    <main>
        <nav class="nav-banner">
            <h1> Good design meets <br>great user experience </h1>
            <h3>For everyone, from beginners to experts</h3>
            <div class="button-banner">
                <a href="Buy Digits">
                    <button class="button-buy"> Buy Digits </button>
                </a>
                <a href="See the Features">
                    <button class="button-see"> See the features </button>
                </a>
            </div>
            <img src="/img-home/banner.png" alt="banner">
        </nav>
    </main>
</body>
</html>