

.button-form {    
    background: #3752ffb7;
    border-radius: 6px;
    color: #fff;
    padding: 10px;      
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.button-form:hover {
    background-color: #3751FF;
}

.container {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.div-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

h1 {
    font-size: 56px;
    text-align: left;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input {
    width: 140px;
    height: 30px;
    transition: border;
}

.input-padrao:focus {
    border: 3px solid green;
    outline: 0;
}

#input-phone {
    width: 292px;  
}

.id-select {
    width: 300px;
    height: 30px;
}


.chat {
    position: fixed;
    bottom: 10px;
    right: 50px;
    width: 300px;
    height: 50px;
    background-color: green;
    padding: 13px;
    font-size: 20px;
    color: white;
    border-radius: 25px;    
}