body * {
    color:rgb(32, 32, 139);
    text-align: center;
    margin-top: 10px;
}

header {  
    color: rgb(32, 32, 139);
    height: 80px;
    border-top: blueviolet solid;   
    border-bottom: blueviolet solid; 
    font-size: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.container {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.div-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

a {    
    text-decoration: none;
}

h1 {
    font-size: 56px;
    text-align: center;
}

.button-padrao {
    background: #3751FF;
    border-radius: 40px;
    color: #fff;
    padding: 10px;      
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.button-padrao:hover {
    background-color: #3752ffb7;
}

.nav-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(32, 32, 139);
}

.nav-banner * {
    margin-top: 10px;
}

.img-middle {
    display: flex;
    justify-content: space-around;
}

.img-mid {
    width: 100px;
}

h2 {
    font-size: 48px;
}

h3 {
    text-align: left;
}

.banner2 {
    display: flex;
    margin-left: 17%;
    margin-top: 0;
}

.text-banner2 {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;
}

.div-text-banner2 {
    border-bottom: 1px solid grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

.p-1 {
    color: #455880;
}

#turquesa {
    width: 70px;
    margin-left: 45%;
}

.p-1 {
    text-align: center;
}

p {
    text-align: left;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.div-user {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    width: 270px;
    height: 400px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.text-center{
    text-align: center;
}

.div-user-avatar {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin: 85px;
}

.footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #3751FF;
    color: white;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 100px;
}

.div-button-fotter {
    display: flex;
    flex-direction: column;
}

.button-white {    
    background: #FFF;
    border-radius: 40px;
    color: #3751FF;
    padding: 10px;      
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.img-button {
    width: 20px;
}

.button-white:hover {
    background-color: grey;
}

#menu-mobile {
    display: none;
}



@media(max-width: 800px){

    .nav-banner img {
        display: none;
    }

    .banner2 img {
        display: none;
    }

}

@media(max-width: 465px){

    header {
        border: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;      
    }

    .div-container {
        display: none;     
    }

    #menu-mobile {
        display: block;
    }
}

