body * {
    color:rgb(32, 32, 139);
    text-align: center;
    margin-top: 10px;
}

header {  
    color: rgb(32, 32, 139);
    height: 80px;
    border-top: blueviolet solid;   
    border-bottom: blueviolet solid; 
    font-size: 20px;
    box-sizing: border-box;
}

.container {    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

a {    
    text-decoration: none;
}

h1 {
    font-size: 56px;
    text-align: center;
}

.button-padrao {
    background: #3751FF;
    border-radius: 40px;
    color: #fff;
    padding: 10px;      
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.nav-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(32, 32, 139);
}

.nav-banner * {
    margin-top: 10px;
}

.img-middle {
    display: flex;
    justify-content: space-around;
}

.img-mid {
    width: 100px;
}

h2 {
    font-size: 48px;
}

h3 {
    text-align: left;
}

.banner2 {
    display: flex;
    margin-left: 17%;
    margin-top: 0;
}

.text-banner2 {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;
}

.div-text-banner2 {
    border-bottom: 1px solid grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

.p-1 {
    color: #455880;
}

#turquesa {
    width: 70px;
    margin-left: 45%;
}

.p-1 {
    text-align: center;
}

p {
    text-align: left;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-user {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    width: 250px;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}