body {
    font-family: Arial, Helvetica, sans-serif;
}

#destak {
    align-items: center;
    width: 40%;
}

#titulo{
    color:red;
}

#img-footer{
    width: 40px;
}

footer{
    align-items: center;
}
